# 함수의 종류

In [1]:
# 매개 변수가 없는 함수
f1 <- function(){
    x<- 10
    cat("x의 값 = ",x,"\n")
    print(x)
}

In [2]:
f1()

x의 값 =  10
[1] 10

In [35]:
# 매개변수가 있는 함수
f2 <- function(x){
    cat("x의 값 = ",x,"\n")
    print(x)
}

In [37]:
f2(10)

x의 값 =  10
[1] 10

In [40]:
# 리턴값이 있는 함수
f3 <- function(x,y){
    add <- x+y
    return(add)
}

In [41]:
a1 <- f3(10,20)
a1

[1] 30

In [42]:
# 리턴값이 없는 함수
f4 <- function(x,y){
    add <- x+y
    print(add)
}

In [44]:
a2 <- f4(10,20)
a2

[1] 30

[1] 30

# 함수 활용

In [23]:
# 2개의 숫자 숫자를 입력받아 가감승제를 구하는 함수를 작성하고 시연하시오
gagamsungjea <- function(x,y){
    aa = x + y
    bb = x - y
    cc = x * y
    dd = x / y
    cat("\n")
    cat(x,"더하기",y,"=",aa,"\n")
    cat(x,"빼기",y,"=",bb,"\n")
    cat(x,"곱하기",y,"=",cc,"\n")
    cat(x,"나누기",y,"=",dd,"\n")
    cat("0..0 -☞ ****** o3o")
}

In [24]:
insert1 = readline("사칙연산 할 1번째 숫자 입력 : ")
insert2 = readline("사칙연산 할 1번째 숫자 입력 : ")
gagamsungjea(as.integer(insert1),as.integer(insert2))

사칙연산 할 1번째 숫자 입력 : 1
사칙연산 할 1번째 숫자 입력 : 2

1 더하기 2 = 3
1 빼기 2 = -1
1 곱하기 2 = 2
1 나누기 2 = 0.5
0..0 -☞ ****** o3o

In [5]:
# 파일 불러오기
test <- read.csv('..//Data//test.csv',header = T)
head(test)

  A B C D E
1 2 4 4 2 2
2 1 2 2 2 2
3 2 3 4 3 3
4 3 5 5 3 3
5 3 2 4 4 4
6 4 3 3 4 2

In [26]:
# 기초 통계 살펴보기
summary(test)

       A               B               C               D              E
 Min.   :1.000   Min.   :1.000   Min.   :1.000   Min.   :1.00   Min.   :1.000
 1st Qu.:2.000   1st Qu.:2.000   1st Qu.:3.000   1st Qu.:2.00   1st Qu.:3.000
 Median :3.000   Median :3.000   Median :4.000   Median :2.00   Median :4.000
 Mean   :2.734   Mean   :2.908   Mean   :3.622   Mean   :2.51   Mean   :3.386
 3rd Qu.:3.000   3rd Qu.:4.000   3rd Qu.:4.000   3rd Qu.:3.00   3rd Qu.:4.000
 Max.   :5.000   Max.   :5.000   Max.   :5.000   Max.   :4.00   Max.   :5.000

In [33]:
# test의 A컬럼의 빈도수 구하기
table(test[1])
table(test$A)
# test의 A컬럼의 최고수 구하기
max(test[1])
max(test$A)
# test의 A컬럼의 최소수 구하기
min(test[1])
min(test$A)

  1   2   3   4   5
 30 133 156  80   3

  1   2   3   4   5
 30 133 156  80   3

[1] 5

[1] 5

[1] 1

[1] 1

In [104]:
# 컬럼수는 length로 쓰고 로우수는 nrow로 사용해서 카운트 해야한다.
columns1 <- function(x){
    for (i in 1:length(x)){
        cat(i,"번째 칼럼의 빈도 분석 결과")
        print(table(x[i]))
        cat("\n")
    }
    for (i in 1:length(x)){
        cat(i,"번째 칼럼의 빈도값의 최댓값/ 최솟값","\n")
        cat("\t","max = ",max(table(x[i])),"\t","min = ",min(table(x[i])),"\n")
    }
}

In [105]:
columns1(test)

1 번째 칼럼의 빈도 분석 결과
  1   2   3   4   5
 30 133 156  80   3

2 번째 칼럼의 빈도 분석 결과
  1   2   3   4   5
 16 150  98 131   7

3 번째 칼럼의 빈도 분석 결과
  1   2   3   4   5
  3  74  72 176  77

4 번째 칼럼의 빈도 분석 결과
  1   2   3   4
 30 178 153  41

5 번째 칼럼의 빈도 분석 결과
  1   2   3   4   5
  8  81 107 160  46

1 번째 칼럼의 빈도값의 최댓값/ 최솟값
	 max =  156 	 min =  3
2 번째 칼럼의 빈도값의 최댓값/ 최솟값
	 max =  150 	 min =  7
3 번째 칼럼의 빈도값의 최댓값/ 최솟값
	 max =  176 	 min =  3
4 번째 칼럼의 빈도값의 최댓값/ 최솟값
	 max =  178 	 min =  30
5 번째 칼럼의 빈도값의 최댓값/ 최솟값
	 max =  160 	 min =  8

In [111]:
# 표본 분산가 표본 표준표차 구하는 함수 (분산- var(), 표준편차 - sd())
var(test[1])
sd(var(test))

  A
A 0.7893264

[1] 0.3171792

In [6]:
varsd <- function(x){
    for (i in 1:length(x)){
        cat(i,"번째 칼럼의 ")
        cat("표본 분산 : ",var(x[,i]),"\t")
        cat("표본 표준 편차 : ",sd(x[,i]))
        cat("\n")
    }
}

In [7]:
varsd(test)

1 번째 칼럼의 표본 분산 :  0.7893264 	표본 표준 편차 :  0.8884405
2 번째 칼럼의 표본 분산 :  0.9216821 	표본 표준 편차 :  0.9600428
3 번째 칼럼의 표본 분산 :  1.033734 	표본 표준 편차 :  1.016727
4 번째 칼럼의 표본 분산 :  0.6046389 	표본 표준 편차 :  0.7775853
5 번째 칼럼의 표본 분산 :  0.9906143 	표본 표준 편차 :  0.9952961

In [10]:
# 구구단 출력 함수
gugu <- function(i,j){
    for (dan in i){
        for (gop in j){
            cat(dan,"X",gop,"=",(dan*gop),"\n")
        }
        cat(paste("--------------------------","\n"))
    }
    
}

In [11]:
i <- c(3:7) # 단 지정
j <- c(4:8) # 곱해지는 수 범위 지정
gugu(i,j)

3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
--------------------------
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
--------------------------
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
--------------------------
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
--------------------------
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
--------------------------

In [12]:
# 구구단 for 1개  출력 함수
gugu2 <- function(i,j){
    for (dan in i){
        cat("\n")
        cat(paste("\t",dan,"X",j,"=",(dan*j),"\n"))
        cat(paste("------------------------","\n"))
    }
}

In [13]:
i <- c(3:7) # 단 지정
j <- c(4:8) # 곱해지는 수 범위 지정
gugu2(i,j)

	 3 X 4 = 12
 	 3 X 5 = 15
 	 3 X 6 = 18
 	 3 X 7 = 21
 	 3 X 8 = 24
------------------------

	 4 X 4 = 16
 	 4 X 5 = 20
 	 4 X 6 = 24
 	 4 X 7 = 28
 	 4 X 8 = 32
------------------------

	 5 X 4 = 20
 	 5 X 5 = 25
 	 5 X 6 = 30
 	 5 X 7 = 35
 	 5 X 8 = 40
------------------------

	 6 X 4 = 24
 	 6 X 5 = 30
 	 6 X 6 = 36
 	 6 X 7 = 42
 	 6 X 8 = 48
------------------------

	 7 X 4 = 28
 	 7 X 5 = 35
 	 7 X 6 = 42
 	 7 X 7 = 49
 	 7 X 8 = 56
------------------------

### 벡터만으로 구구단 찍기 불가능

In [16]:
# 반복문 없이 벡터만으로 구구단?
gugu3 <- function(i,j){
        cat("\n")
        cat(paste("\t",i,"X",j,"=",(i*j),"\n"))
        cat(paste("------------------------","\n"))
}

In [17]:
i <- c(3:7) # 단 지정
j <- c(4:8) # 곱해지는 수 범위 지정
gugu3(i,j)

	 3 X 4 = 12
 	 4 X 5 = 20
 	 5 X 6 = 30
 	 6 X 7 = 42
 	 7 X 8 = 56
------------------------

# 결측치 처리 함수

In [18]:
# 결측치 자료 평균 계산 함수 - 결측치 처리 방법 1. 결측치를 0으로 2.평균으로 3.최고값으로 4.최소값으로
data <- c(10,20,5,4,40,7,NA,6,3,NA,2,NA)
data

 [1] 10 20  5  4 40  7 NA  6  3 NA  2 NA

In [21]:
na <- function(x){
    # 1차 : NA 제거하고 평균값 보기
    cat("NA제거 하고 평균값\n")
    print(mean(x, na.rm = T))
    cat("===========================\n")
    
    # 2차 : NA를 0으로 대체하고 평균값 구하기
    cat("NA를 0으로 대체 평균값 \n")
    data <- ifelse(!is.na(x), x, 0) # NA이면 0으로 대체
    print(mean(data))
    cat("===========================\n")
    
    # 3차 : NA를 평균값으로 대체하여 평균 구하기, 소수점 2째자리
    cat("NA를 평균값 으로 대체 \n")
    data <- ifelse(!is.na(x), x, (mean(x, na.rm = T))) 
    print(round(mean(data),2))
    cat("===========================\n")
    
    # 4차 : NA를 최고값으로 대체하여 평균 구하기, 소수점 2째자리
    cat("NA를 최고값 으로 대체 \n")
    data <- ifelse(!is.na(x), x, (max(x, na.rm = T))) 
    print(round(mean(data),2))
    cat("===========================\n")
    
    # 5차 : NA를 최소값으로 대체하여 평균 구하기, 소수점 2째자리
    cat("NA를 최소값 으로 대체 \n")
    data <- ifelse(!is.na(x), x, (min(x, na.rm = T))) 
    print(round(mean(data),2))
    cat("===========================\n")
    
      # 4차 : NA를 중앙값으로 대체하여 평균 구하기, 소수점 2째자리
    cat("NA를 중앙값 으로 대체 \n")
    data <- ifelse(!is.na(x), x, (median(x, na.rm = T))) 
    print(round(mean(data),2))
    cat("===========================\n")
    
}

In [22]:
na(data)

NA제거 하고 평균값
[1] 10.77778
===========================
NA를 0으로 대체 평균값
[1] 8.083333
===========================
NA를 평균값 으로 대체
[1] 10.78
===========================
NA를 최고값 으로 대체
[1] 18.08
===========================
NA를 최소값 으로 대체
[1] 8.58
===========================
NA를 중앙값 으로 대체
[1] 9.58
===========================

# 몬테 카를로 시뮬레이션
현실적으로 불가능한 문제의 해답을 얻기 위해 난수의 확률 분포를 이용하여   
모의 실험으로 근사적 해를 구하는 방법

In [23]:
# 동전 던지기 앞/뒤 - 난수 확률 분포 함수
coin <- function(n){
    r <- runif(n, min=0, max=1)
    # print(r)
    result <- numeric()
    for (i in 1:n){
        if(r[i] <= 0.5) result[i] <- 0 #앞면
        else result[i] <- 1 #뒷면
    }
    return(result)
}

In [24]:
coin(20)

 [1] 1 0 1 0 1 0 1 1 1 1 0 0 1 1 1 1 1 1 1 1

In [28]:
# 몬테카를로 시뮬레이션
montecoin <- function(n){
    kk <- table(coin(n))/sum(table(coin(n)))
    print(kk)
}

In [29]:
montecoin(1000000)

       0        1
0.499834 0.500166

In [271]:
# 몬테카를로 시뮬레이션
montecoin2 <- function(n){
    cnt <- 0
    for (i in 1:n){
        if (coin(n)[i] == 1){
            cnt <- cnt + 1
        }
    }
    result <- cnt/n
    return(result)
}

In [296]:
# 뒷면의 확률
montecoin2(100)

[1] 0.54

In [297]:
# 몬테카를로 시뮬레이션
montecoin3 <- function(n){
    cnt <- 0
    for (i in 1:n){
            cnt <- cnt + coin(1)
    }
    result <- cnt/n
    return(result)
}

In [298]:
montecoin3(100)

[1] 0.56

In [304]:
vec <- 1:10
factorial(5)
cumsum(vec) # 누적덧셈
cumprod(vec) # 누적곱셈
sum(vec)
prod(vec) # 누적곲의 결과

[1] 120

 [1]  1  3  6 10 15 21 28 36 45 55

 [1]       1       2       6      24     120     720    5040   40320  362880
[10] 3628800

[1] 55

[1] 3628800