# Vector

In [1]:
# 벡터 계산
a <- c(1,2,3)
b <- c(4,5,6)

In [2]:
a + b # 벡터끼리의 더한값이 출력

[1] 5 7 9

In [4]:
# 벡터 합치기
c <- append(a, b)
c

[1] 1 2 3 4 5 6

In [6]:
a1 <- c(1,2,3)
b1 <- c(4,5)
a1+b1 # 길이가 다르면 첫번째 숫자를 다시 더한다. 3 + 4값이 마지막에 나온것.

Warning message in a1 + b1:
“longer object length is not a multiple of shorter object length”

[1] 5 7 7

In [12]:
c <- -5:5
c
length(c)

 [1] -5 -4 -3 -2 -1  0  1  2  3  4  5

[1] 11

In [13]:
seq(from=1, to=5, by=0.5) # 1~5까지 0.5씩 증가되는 벡터

[1] 1.0 1.5 2.0 2.5 3.0 3.5 4.0 4.5 5.0

In [14]:
seq(1,5,0.5) # from,to,by순으로 적어주어야함 하지만 순서를 바꿔서 쓰고싶을때는 위 방법으로 쓸것.

[1] 1.0 1.5 2.0 2.5 3.0 3.5 4.0 4.5 5.0

In [15]:
x <- c(1,2,3)
y <- c(4,2,8)

In [16]:
x == y

[1] FALSE  TRUE FALSE

In [22]:
# a,b,c를 4번 반복하여 x를 생성
x <- rep(c("a","b","c"), 4)
x

 [1] "a" "b" "c" "a" "b" "c" "a" "b" "c" "a" "b" "c"

In [27]:
y <- rep(c(3),4)
y
print(y)

[1] 3 3 3 3

[1] 3 3 3 3

In [24]:
# 중복값 제거
unique(x)

[1] "a" "b" "c"

In [64]:
# 문자열 관련 함수
xx <- c("a","b","c","d","e")
xx
print(xx)
print(c(xx[1],xx[3]))
print(xx[1:3][-2])
# print는 하나만 찍는다. 그 말은 여러개를 찍고시다면 그 안을 벡터로 바꾼다.
print(paste(xx[1],",",xx[3])) 
# paste는 두개를 하나로 만든다.

[1] "a" "b" "c" "d" "e"

[1] "a" "b" "c" "d" "e"
[1] "a" "c"
[1] "a" "c"
[1] "a , c"

In [65]:
paste("Hello","World!")

[1] "Hello World!"

In [67]:
# 줄바꿈으로 서로 다르게 출력
cat(paste("Hello","\n","World!")) # cat이라고 써줘야 \n같은게 구동가능.

Hello
 World!

In [87]:
# 문자열 결합
paste("aaa","bbb","ccc")
paste("aaa","bbb","ccc", sep=",")
paste("aaa","bbb","ccc", sep="★")
paste("aaa","bbb","ccc", sep="")

[1] "aaa bbb ccc"

[1] "aaa,bbb,ccc"

[1] "aaa★bbb★ccc"

[1] "aaabbbccc"

In [90]:
x <- rep(c("a","b","c"), 4)
paste(x)

 [1] "a" "b" "c" "a" "b" "c" "a" "b" "c" "a" "b" "c"

In [89]:
x <- rep(c("a","b","c"), 4)
paste(x, collapse = ",")
paste(x, collapse = "-")
paste(x, collapse = "★")

[1] "a,b,c,a,b,c,a,b,c,a,b,c"

[1] "a-b-c-a-b-c-a-b-c-a-b-c"

[1] "a★b★c★a★b★c★a★b★c★a★b★c"

In [121]:
# 논리형 벡터
# runif(갯수, 최소값, 최대값)
# 0과 1사이에 난수 5개 생성
(x <- runif(5))
# 1과 20사이의 5개의 난수 생성
(x2 <- runif(5,1,20))

[1] 0.08340941 0.21661738 0.71013561 0.26311663 0.54649855

[1] 14.470829 19.202447  7.883813 16.808989 17.937883

In [124]:
# x가 0.4와 0.7사이에 있는지?
(0.4 <= x) & (x <= 0.7)

[1] FALSE FALSE FALSE FALSE  TRUE

In [126]:
# x중에 0.7 이상이 있는지?
any(x >= 0.7)

[1] TRUE

In [128]:
# x가 모두 0.7보다 큰지?
all(x > 0.7)

[1] FALSE

In [129]:
# x가 벡터형이냐? -> is로 물어보는것은 결과값이 무조건 TRUE or FALSE임
is.vector(x)

[1] TRUE

In [130]:
# 행렬 : 2차원의 자료를 저장하는 자료형
vec1 <- c(1,2,3)
vec2 <- c(4,5,6)
vec3 <- c(7,8,9)

In [131]:
# rbind() : 행을 결합
mat1 <- rbind(vec1,vec2,vec3)
mat1

     [,1] [,2] [,3]
vec1 1    2    3
vec2 4    5    6
vec3 7    8    9

In [132]:
# cbind() : 열을 결합
mat2 <- cbind(vec1,vec2,vec3)
mat2

     vec1 vec2 vec3
[1,] 1    4    7
[2,] 2    5    8
[3,] 3    6    9

In [134]:
# mat1에 컬럼이름 할당
colnames(mat1) <- c("a","b","c") # 벡터로 두어야함
mat1

     a b c
vec1 1 2 3
vec2 4 5 6
vec3 7 8 9

In [135]:
# mat2에 로우이름 할당
rownames(mat2) <- c("1","2","3")
mat2

  vec1 vec2 vec3
1 1    4    7
2 2    5    8
3 3    6    9

In [136]:
# 데이터프레임 : 다양한 자료형으로 구성된 2차원 데이터 구조
no <- c(1,2,3,4)
name <- c("Apple","Banana","Peach","Berry")
price <- c(500,400,300,200)
qty <- c(5,3,4,8)

# DataFlame

In [137]:
# 데이터프레임 생성
fruit <- data.frame(No=no, Name=name, Price=price, Qty=qty) # 컬럼이름은 No, 데이터는 no 형태
fruit

  No Name   Price Qty
1 1  Apple  500   5
2 2  Banana 400   3
3 3  Peach  300   4
4 4  Berry  200   8

In [144]:
# 1번 행만 출력
fruit[1,]

  No Name  Price Qty
1 1  Apple 500   5

In [149]:
# 1~3행만 출력
fruit[1:3,]

  No Name   Price Qty
1 1  Apple  500   5
2 2  Banana 400   3
3 3  Peach  300   4

In [155]:
# 2번 열을 제외하고 출력
fruit[,-2]

  No Price Qty
1 1  500   5
2 2  400   3
3 3  300   4
4 4  200   8

# List

In [156]:
# 리스트 : key=value의 형태 (파이썬의 딕셔너리)
member <- list(name="홍길동",address="서울",tel="010-1111-2222",pay = 300)
member

$name
[1] "홍길동"

$address
[1] "서울"

$tel
[1] "010-1111-2222"

$pay
[1] 300

In [159]:
member$name
member$address

[1] "홍길동"

[1] "서울"

In [160]:
member[1:3]

$name
[1] "홍길동"

$address
[1] "서울"

$tel
[1] "010-1111-2222"

In [170]:
# 새로운 데이터 추가
member$birth <- "1988-08-08"
member

$name
[1] "홍길동"

$address
[1] "서울"

$tel
[1] "010-1111-2222"

$pay
[1] 300

$birth
[1] "1988-08-08"

# Array

In [3]:
# 배열 : 행렬을 다차원으로 확장한것, 배열은 필요에 따라 3차원으로 확장 가능
# 3행4열의 2차원 배열 생성
x <- array(1:12, dim = c(3,4))
array(1:12, dim = c(3,4))

     [,1] [,2] [,3] [,4]
[1,] 1    4    7    10
[2,] 2    5    8    11
[3,] 3    6    9    12

In [175]:
x

     [,1] [,2] [,3] [,4]
[1,] 1    4    7    10
[2,] 2    5    8    11
[3,] 3    6    9    12

In [178]:
x[1,1] # 1행 1열
x[3,2]
dim(x) # 몇행 몇열인지 알려줌

[1] 1

[1] 6

[1] 3 4

In [182]:
# 자료형 판별
class(c(1,2))
class(matrix(c(1,2)))
class(list(c(1,2)))
class(data.frame(x=c(1,2)))

[1] "numeric"

[1] "matrix"

[1] "list"

[1] "data.frame"

In [184]:
is.numeric(c(1,2))
is.numeric(c("1","2"))

[1] TRUE

[1] FALSE

# 조건문

In [185]:
# 조건문
x <- runif(1)

In [186]:
if(x > 0) print(abs(x))

[1] 0.8809297

In [204]:
# x가 0.5보다 작으면 1-x, 아니면 x를 출력
if(x < 0.5){
    print(1-x)
}else{
    print(x)
}

[1] 0.8809297

In [205]:
if(x < 0.5) print(1-x) else print(x)

[1] 0.8809297

In [206]:
ifelse(x < 0.5, 1-x, x) # 조건(x < 0.5), TRUE면(1-x), TRUE가 아니면(x)

[1] 0.8809297

In [224]:
# if 연습(1)
a <- 9 # 홀수 인지 짝수 인지 판별하는 로직을 구성하시오
if(a %% 2 == 0){
    print("짝수")
}else{
    print("홀수")
}

[1] "홀수"

In [233]:
if(a %% 2 == 0) print("짝수") else print("홀수")

[1] "홀수"

In [238]:
# if 연습(2)
point <- 95 # 학점으로 변경하는 로직을 구성하시오(90,80,70,60,이하)
if(point >= 90){
    print("A")
}else if(point >= 80){
    print("B")
}else if(point >= 70){
    print("C")
}else if(point >= 60){
    print("D")
}else{
    print("E")
}

[1] "A"

In [240]:
if(point >= 90) print("A") else if(point >= 80) print("B") else if(point >= 70) print("C") else if(point >= 60) print("D") else print("E")

[1] "A"

In [242]:
grade <- point %/% 10
print(grade)
switch(as.character(grade),
      "10" = print("A"),
      "9" = print("B"),
      "8" = print("C"),
      "7" = print("D"),
      "6" = print("E"),
       print("F")
      )

[1] 9
[1] "B"

In [243]:
# 반복문
sum1 <- 0
for(i in seq(1,10,1)){
    sum1 <- sum1 + i
}
sum1

[1] 55