In [4]:
# 패키지 설치
#install.packages("sqldf")
#install.packages("chron")

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [1]:
library(sqldf)

Loading required package: gsubfn
Loading required package: proto
Warning message:
“no DISPLAY variable so Tk is not available”Loading required package: RSQLite

In [2]:
# 전체 데이터 살펴보기
sqldf('select * from iris limit 5')

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 5.1          3.5         1.4          0.2         setosa
2 4.9          3.0         1.4          0.2         setosa
3 4.7          3.2         1.3          0.2         setosa
4 4.6          3.1         1.5          0.2         setosa
5 5.0          3.6         1.4          0.2         setosa

In [12]:
# sqldf('select Sepal.Length iris limit 5') # 점때문에 에러걸림 큰 따옴표로 묶어 주면 된다.
sqldf('select "Sepal.Length" from iris limit 5')

  Sepal.Length
1 5.1
2 4.9
3 4.7
4 4.6
5 5.0

In [21]:
# iris data를 sqldf로 Species 순과 Sepal.Length 순으로 정렬하고 5개만 보여주기
sqldf('select * from iris order by Species, "Sepal.Length" limit 5')
sqldf('select * from iris order by Species desc, "Sepal.Length" desc limit 5')

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 4.3          3.0         1.1          0.1         setosa
2 4.4          2.9         1.4          0.2         setosa
3 4.4          3.0         1.3          0.2         setosa
4 4.4          3.2         1.3          0.2         setosa
5 4.5          2.3         1.3          0.3         setosa

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 7.9          3.8         6.4          2.0         virginica
2 7.7          3.8         6.7          2.2         virginica
3 7.7          2.6         6.9          2.3         virginica
4 7.7          2.8         6.7          2.0         virginica
5 7.7          3.0         6.1          2.3         virginica

In [34]:
# Sepal.Length 의 합계
sqldf('select sum("Sepal.Length") from iris ')

  sum("Sepal.Length")
1 876.5

In [57]:
# Sepal.Length 의 최대값
sqldf('select max("Sepal.Length") from iris ')
# Sepal.Length 의 최소값
sqldf('select min("Sepal.Length") from iris ')
# Sepal.Length 의 row수
sqldf('select count("Sepal.Length") from iris ')
# Sepal.Length 의 평균
sqldf('select avg("Sepal.Length") from iris ')
# Species 유니크로 보기
sqldf('select distinct(Species) from iris ')
# Species 별 갯수 구하기
sqldf('select distinct(Species),count(*) as 갯수 from iris group by Species')
# setosa의 Sepal.Length 평균
sqldf('select avg("Sepal.Length") from iris WHERE Species = "setosa" ')

  max("Sepal.Length")
1 7.9

  min("Sepal.Length")
1 4.3

  count("Sepal.Length")
1 150

  avg("Sepal.Length")
1 5.843333

  Species
1 setosa
2 versicolor
3 virginica

  Species    갯수
1 setosa     50
2 versicolor 50
3 virginica  50

  avg("Sepal.Length")
1 5.006

In [59]:
# iris 의 상위 5개만 보여주기 단, limit 사용금지
five <- sqldf('select * from iris')
head(five)
head(sqldf('select * from iris'),5)

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 5.1          3.5         1.4          0.2         setosa
2 4.9          3.0         1.4          0.2         setosa
3 4.7          3.2         1.3          0.2         setosa
4 4.6          3.1         1.5          0.2         setosa
5 5.0          3.6         1.4          0.2         setosa
6 5.4          3.9         1.7          0.4         setosa

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 5.1          3.5         1.4          0.2         setosa
2 4.9          3.0         1.4          0.2         setosa
3 4.7          3.2         1.3          0.2         setosa
4 4.6          3.1         1.5          0.2         setosa
5 5.0          3.6         1.4          0.2         setosa